<ion-content>
    <div class="service">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="wrapper1">
                        <h1>Service</h1>
                        <p>Lorem Ipsum is not simply random text.  Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. This book is a treatise on the theory of ethics, very popular during the Renaissance. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row justify-content-center">

                        <div class="col-md-4">
                            <div class="image">
                                <img src="../../assets/img/1.jpg">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="image">
                                <img src="../../assets/img/2.jpg">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="image">
                                <img src="../../assets/img/3.png">
                            </div>
                        </div>

                        <div class="press">
                            <a href="#">See More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ion-content>
