<ion-content>
    <div class="contact">
        <div class="container">
            <div class="row">

                <div class="input">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="name" placeholder="Name">
                        </div>

                        <div class="col-md-6">
                            <input type="name" placeholder="Email">
                        </div>

                        <div class="col-md-6">
                            <input type="name" placeholder="Address">
                        </div>
        
                        <div class="col-md-6">
                            <input type="name" placeholder="Contact No.">
                        </div>
        
                        <div class="col-md-12 name">
                            <textarea rows="5" placeholder="Your Message"></textarea>
                        </div>
                    </div>
        
                    <div class="button1">
                        <a href="#">Send Message</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ion-content>
